package eu.zkkn.android.barcamp;

/**
 * App Configuration
 */
public class Config {

    /**
     * Enable / Disable debug messages
     */
    public static final boolean DEBUG = true;

    /**
     * Debug log tag
     */
    public static final String TAG = "BarcampLog";

    /**
     * API URL
     */
    public static final String API_URL = "http://demo5483269.mockable.io/";

    /**
     * Version of Barcamp Google cloud message type which will this app accept
     */
    public static final String BARCAMP_GCM_VERSION = "1";

    /**
      * Minimal interval for automatic synchronization with API in ms
      */
     public static final long API_SYNC_INTERVAL_MS = 8 * 60 * 60 * 1000;

    /**
     * This is the Project Number from the Google Developers Console
     * https://console.developers.google.com/project
     */
    public static final String GCM_SENDER_ID = "...";

}
