package eu.zkkn.android.barcamp;

/**
 * App Configuration
 */
public class Config {

    /**
     * Enable / Disable debug messages
     */
    public static final boolean DEBUG = true;

    /**
     * Debug log tag
     */
    public static final String TAG = "BarcampLog";

    /**
     * API URL
     */
    public static final String API_URL = "http://www.barcampjc.cz/api/v1/sessions";

    /**
     * The date when Barcamp is held
     */
    public static final String DATE = "2015-06-13";

    /**
      * Minimal interval for automatic synchronization with API in ms
      */
    public static final long API_SYNC_INTERVAL_MS = 8 * 60 * 60 * 1000;

}
