<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.zkkn.android.barcamp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="eu.zkkn.android.barcamp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="eu.zkkn.android.barcamp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SessionDetailActivity"
            android:label="@string/title_activity_session_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.zkkn.android.barcamp.MainActivity" />
        </activity>
        <activity
            android:name=".GcmNotificationsActivity"
            android:label="@string/title_activity_gcm_notifications" >
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.zkkn.android.barcamp.MainActivity" />
        </activity>

        <receiver
            android:name=".GcmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="eu.zkkn.android.barcamp" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".GcmIntentService"
            android:exported="false" >
        </service>
        <service
            android:name=".ApiRequestService"
            android:exported="false" >
        </service>

    </application>

</manifest>
