<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.zkkn.android.barcamp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Keeps the processor from sleeping. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Receive broadcast after the system finishes booting. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SessionDetailActivity"
            android:label="@string/title_activity_session_detail"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".service.ApiRequestService"
            android:exported="false" >
        </service>

    </application>

</manifest>
